/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: #fff !important;
}
.line-stuff {
  position: relative;
}
.article {
  line-height: 32px;
  font-size: 20px;
}
.line-stuff p {
  background-color: rgba(12, 242, 143, 0.2);
  line-height: 32px;
  font-size: 21px;
  font-style: italic;
  margin-bottom: .5rem;
  margin-left: 1rem;
}
.dev-count ul {
  counter-reset: section;
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 20px;
  font-weight: bold;
  line-height: 39px;
  color: rgba(37, 32, 32, .8);
}
.dev-count ul li::before {
  counter-increment: section;
  content: counter(section) ". ";
}
.line-stuff::before {
  content: "";
  width: 4px;
  height: 9.5rem;
  display: block;
  position: absolute;
  left: -14px;
  background: rgb(0, 0, 0);
  
}
.box{
  width:58px; height:31px;  
  border:solid 4px rgb(0, 0, 0);
  border-color:rgb(10, 104, 104) transparent transparent transparent;
  border-radius: 150%/100px 100px 0 0;
}
@media (min-width: 592px){
  .social-icon{
    margin-top: 2rem !important;
  }
  .social-icon li{
    margin-right: 10px;
  }
}
.social-icon {
  /* text-decoration: none; */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  justify-content: space-between;
  /* 
  margin-bottom: auto !important;
*/
}
.svg-color {
  color: rgb(117 117 117) !important;
}
.nav-hig {
  height: 20px;
}
.nav-w {
  min-width: 1px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-b {
  background-color: rgba(197, 210, 225, 1);
}
.alert-dark{
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.card {
  border: none !important;
  border-radius: 0 !important;
}
.card-body{
  padding-left: 0 !important;
}
.message {
  margin-left: 0.5rem;
  margin-bottom: auto;
  margin-top: auto;
}
.fellow {
  margin-left: .3rem;
  border:1px solid rgba(117, 117, 117, 1);
  border-radius: 4px;
  padding: 1px 6px;
  cursor: pointer;
}
.title{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 13px;
  color: #292929;
}
@media (min-width: 992px){
  .reduce-container{
    max-width: 740px !important;
  }
}
.text-muted {
  color: white !important;
  text-transform: uppercase;
}
.nav-scroller {
  background-color: rgba(53, 88, 118, 1) !important;
  height: 3.75rem !important;
  margin-top: 6rem!important;
}
.btn-outline-secondary {
  border-color: rgba(102, 138, 170, 1) !important;
}
.nav-color a {
  text-decoration-line: none !important;
  padding-right: 4px;
}
.nav-color {
  color: rgba(102, 138, 170, 1) !important;
  font-size: 13px;
  padding-right: 7px;
}
.nav-color:hover {
  background: none !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 2rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  color: #503c3c;
  font-size: 20px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
